@import 'https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css';

.swiper {
    overflow: visible !important;
    max-width: 100vw;
}

.swiper-slide {
    max-width: 100vw;
}

.swiper-slide img {
    max-width: 100vw;
}

.desktop {
    margin-top: -50px;
    background-image: url('./images/linux.png');
    box-shadow: inset 0 8px 32px rgba(0, 0, 0, 0.5);
    background-size: cover;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    transition: background-image 0.4s ease;
    overflow-x: hidden;
}
